
body{
     color: #000000;
     background-color: rgb(253, 253, 255);
     
 }
 
 button{
    width: 20%;
    padding: 5px;
    margin-left: 35%;
    background-color: rgb(249, 253, 2);
    border-radius: 20px;
    color: rgb(0, 89, 255);
    border: solid;
    border-color: rgb(0, 255, 13);
    
}
.box{
    text-align: center;
    margin-left: 20%;
}

 a{
    text-decoration: none;
    color: red;
}

a:hover {
    font-size: medium;
    color: green;
}